.flows.json.backup
[{"id":"aae4e072.fd67e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6917a2f1.038cec","type":"inject","z":"aae4e072.fd67e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["4cd0313c.b8f56"]]},{"id":"4cd0313c.b8f56","type":"function","z":"aae4e072.fd67e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["7a3338c0.6f3fc8"]]},{"id":"7a3338c0.6f3fc8","type":"debug","z":"aae4e072.fd67e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]}]