.flows.json.backup
[{"id":"aae4e072.fd67e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75569424.27cbcc","type":"tab","label":"package2.json","disabled":false,"info":"testing package 2 .json merging"},{"id":"8632e145.5a986","type":"tab","label":"Ui-Component","disabled":false,"info":"Ui Component merging"},{"id":"928e9f6b.0fc1c","type":"tab","label":"test flow","disabled":false,"info":"test flow for merging activity."},{"id":"4097cafd.7dc4e4","type":"ui_group","z":"","name":"Signin","tab":"8a6ef278.c59bf","order":1,"disp":true,"width":"6","collapse":false},{"id":"355d79e3.30e416","type":"ui_group","z":"","name":"SensorData","tab":"8a6ef278.c59bf","order":2,"disp":true,"width":"6","collapse":false},{"id":"831bd5ee.1f9c58","type":"ui_group","z":"","name":"History","tab":"8a6ef278.c59bf","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a6ef278.c59bf","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"6917a2f1.038cec","type":"inject","z":"aae4e072.fd67e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["4cd0313c.b8f56"]]},{"id":"4cd0313c.b8f56","type":"function","z":"aae4e072.fd67e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["7a3338c0.6f3fc8"]]},{"id":"7a3338c0.6f3fc8","type":"debug","z":"aae4e072.fd67e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]},{"id":"20cda54d.189fba","type":"inject","z":"aae4e072.fd67e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[[]]},{"id":"bea22f1a.92f96","type":"azureiothub","z":"aae4e072.fd67e","name":"Azure IoT Hub","protocol":"amqp","x":320,"y":220,"wires":[[]]},{"id":"5d5b704e.0b94b","type":"debug","z":"75569424.27cbcc","name":"","active":true,"complete":false,"x":590,"y":180,"wires":[]},{"id":"69a1c8c3.d0f4f8","type":"inject","z":"75569424.27cbcc","name":"","topic":"","payload":"","repeat":"","once":false,"x":190,"y":180,"wires":[["5ea04a45.5d66e4"]]},{"id":"5ea04a45.5d66e4","type":"function","z":"75569424.27cbcc","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"x":390,"y":180,"wires":[["5d5b704e.0b94b"]]},{"id":"a0bd2753.ef4b88","type":"ui_form","z":"8632e145.5a986","name":"Dashboard Sign-In","label":"","group":"4097cafd.7dc4e4","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":100,"wires":[["5eb4235.53540dc","522663ec.ff16dc","3d7fbc77.2d0e54"]]},{"id":"be223f2a.25dc4","type":"debug","z":"8632e145.5a986","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":678.0000915527344,"y":61.00000762939453,"wires":[]},{"id":"a1e5ed7f.540ed","type":"comment","z":"8632e145.5a986","name":"Sign-In Section","info":"","x":110.00000762939453,"y":42.999996185302734,"wires":[]},{"id":"5eb4235.53540dc","type":"function","z":"8632e145.5a986","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":309.00000762939453,"y":69.99999618530273,"wires":[["be223f2a.25dc4"]]},{"id":"522663ec.ff16dc","type":"function","z":"8632e145.5a986","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":322.0000457763672,"y":115.0000057220459,"wires":[["b88b0dde.d384d"]]},{"id":"b88b0dde.d384d","type":"switch","z":"8632e145.5a986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":491.0000419616699,"y":145.9999885559082,"wires":[["760ef139.d1c5f"],["d23ac639.ac8038"],["792f41ba.bd19e"],["ce64a8b0.eda5c8"]]},{"id":"760ef139.d1c5f","type":"function","z":"8632e145.5a986","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":660.999885559082,"y":101.99999809265137,"wires":[["cca286cf.a20728"]]},{"id":"d23ac639.ac8038","type":"function","z":"8632e145.5a986","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":681.9998931884766,"y":139,"wires":[["28efdd3b.9b9192"]]},{"id":"792f41ba.bd19e","type":"function","z":"8632e145.5a986","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":682.9999618530273,"y":176.0000123977661,"wires":[["28efdd3b.9b9192"]]},{"id":"cca286cf.a20728","type":"ui_ui_control","z":"8632e145.5a986","name":"Go to Sensor/History Group","x":948.0000686645508,"y":101.9999942779541,"wires":[[]]},{"id":"28efdd3b.9b9192","type":"ui_toast","z":"8632e145.5a986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":947.9999732971191,"y":159,"wires":[[]]},{"id":"cabaf05e.24f81","type":"comment","z":"8632e145.5a986","name":"Session Management - 15 secs for this demo","info":"","x":189.5,"y":259.00000762939453,"wires":[]},{"id":"a2200481.4891e8","type":"inject","z":"8632e145.5a986","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":98.00000762939453,"y":347.99999237060547,"wires":[["dcdcef68.af82b","d85fc2b.0515e4"]]},{"id":"dcdcef68.af82b","type":"function","z":"8632e145.5a986","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":286.00003814697266,"y":314.00000762939453,"wires":[["6849562e.02bbb8"]]},{"id":"6849562e.02bbb8","type":"switch","z":"8632e145.5a986","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":456.00007247924805,"y":312.00000762939453,"wires":[["524961ce.66bc5"],["c1cd1128.5e143"],["66c877e.07a0d88"]]},{"id":"524961ce.66bc5","type":"function","z":"8632e145.5a986","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":611.9999847412109,"y":285.0000114440918,"wires":[["fc23fb8c.4b7ef8","4316135c.f3c43c"]]},{"id":"fc23fb8c.4b7ef8","type":"ui_toast","z":"8632e145.5a986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":799.500114440918,"y":251.0000114440918,"wires":[[]]},{"id":"112ef37f.774d6d","type":"ui_ui_control","z":"8632e145.5a986","name":"Go to Signin Group","x":1006.5000324249268,"y":286.99999618530273,"wires":[[]]},{"id":"4316135c.f3c43c","type":"function","z":"8632e145.5a986","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \n            \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":810.0000228881836,"y":288.00000762939453,"wires":[["112ef37f.774d6d"]]},{"id":"bf8853db.a1ad9","type":"ui_toast","z":"8632e145.5a986","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":619.7222023010254,"y":401.99999237060547,"wires":[]},{"id":"ab15faaf.6c7298","type":"comment","z":"8632e145.5a986","name":"Sensor Data Collection","info":"","x":129.00000762939453,"y":444.00000190734863,"wires":[]},{"id":"64f546e1.6cd698","type":"inject","z":"8632e145.5a986","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":101.5,"y":521.0000095367432,"wires":[["5b03435a.0a87bc"]]},{"id":"7c79fb67.b5c784","type":"comment","z":"8632e145.5a986","name":"MQTT ? CoAP?","info":"Expecting data from the actaul sensors.","x":276.50000762939453,"y":480.9999942779541,"wires":[]},{"id":"d85fc2b.0515e4","type":"function","z":"8632e145.5a986","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":336.0000305175781,"y":402.00002002716064,"wires":[["bf8853db.a1ad9"]]},{"id":"fa340117.96494","type":"ui_text","z":"8632e145.5a986","group":"355d79e3.30e416","order":0,"width":0,"height":0,"name":"Label Display","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1000.4999923706055,"y":607.0001277923584,"wires":[]},{"id":"5b03435a.0a87bc","type":"function","z":"8632e145.5a986","name":"Decode MySensor Message","func":"\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\n\nnewPayload.nodeId  =  3;\nnewPayload.type =  Math.floor( Math.random() * Math.floor(2));  // 0 or 1\nif ( newPayload.type === 0 /* temperature */ ) newPayload.value   =  Math.floor( Math.random() * Math.floor(30)) + 10; // 10 - 39\nelse newPayload.value   =  Math.floor( Math.random() * Math.floor(40)) + 40; // 40 - 79\n\nmsg.payload = newPayload; \n\nreturn msg;","outputs":1,"noerr":0,"x":297.50000762939453,"y":522.0000171661377,"wires":[["10443163.d6030f","9c8e7713.32a9b8"]]},{"id":"10443163.d6030f","type":"function","z":"8632e145.5a986","name":"Filter : temperature","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":514.5000534057617,"y":478.00002002716064,"wires":[["5add09e.cf602f8","6ec78b8.8e36e74","2ce407d8.1474d8","f260ca00.59ab38"]]},{"id":"5add09e.cf602f8","type":"ui_gauge","z":"8632e145.5a986","name":"Gauge : Temperature","group":"355d79e3.30e416","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT22","label":"MySensors v2","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","x":764.5000076293945,"y":463.9999828338623,"wires":[]},{"id":"9c8e7713.32a9b8","type":"function","z":"8632e145.5a986","name":"Filter : humidity","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":500.50010681152344,"y":585.0000591278076,"wires":[["c1a8b0b1.550e6","6ec78b8.8e36e74","2ce407d8.1474d8"]]},{"id":"c1a8b0b1.550e6","type":"ui_gauge","z":"8632e145.5a986","name":"Gauge : Humidity","group":"355d79e3.30e416","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity DHT22","label":"MySensors v2","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":756.500072479248,"y":501.0000286102295,"wires":[]},{"id":"6ec78b8.8e36e74","type":"function","z":"8632e145.5a986","name":"Attention : temperature & humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temerature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"x":760.4999923706055,"y":608.0000877380371,"wires":[["fa340117.96494"]]},{"id":"2ce407d8.1474d8","type":"ui_chart","z":"8632e145.5a986","name":"History : Temperature & Humidity","group":"831bd5ee.1f9c58","order":1,"width":"6","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"80","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":807.5000305175781,"y":539.0001049041748,"wires":[[],[]]},{"id":"7926cca6.e426c4","type":"ui_ui_control","z":"8632e145.5a986","name":"Stay in Sensor Group","x":956.5000991821289,"y":326.0000057220459,"wires":[[]]},{"id":"c1cd1128.5e143","type":"function","z":"8632e145.5a986","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    hide : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":653.5000305175781,"y":326.00000381469727,"wires":[["7926cca6.e426c4"]]},{"id":"66c877e.07a0d88","type":"function","z":"8632e145.5a986","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":624.5000915527344,"y":367.0000419616699,"wires":[["f42a3267.23659"]]},{"id":"f42a3267.23659","type":"ui_ui_control","z":"8632e145.5a986","name":"Go to Signin Group","x":944.5002479553223,"y":364.0000419616699,"wires":[[]]},{"id":"f260ca00.59ab38","type":"debug","z":"8632e145.5a986","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":724.0590744018555,"y":574.6424465179443,"wires":[]},{"id":"3d7fbc77.2d0e54","type":"debug","z":"8632e145.5a986","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":291.5000419616699,"y":180.5347557067871,"wires":[]},{"id":"ab455ac9.095118","type":"ui_toast","z":"8632e145.5a986","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":931.1111793518066,"y":212.1215353012085,"wires":[[]]},{"id":"ce64a8b0.eda5c8","type":"function","z":"8632e145.5a986","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":672.4443283081055,"y":213.12152862548828,"wires":[["ab455ac9.095118"]]},{"id":"b4a2757e.1a9ac8","type":"inject","z":"928e9f6b.0fc1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[["2a9f8a1a.3c46d6"]]},{"id":"2a9f8a1a.3c46d6","type":"debug","z":"928e9f6b.0fc1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":120,"wires":[]},{"id":"d43cb094.2dc51","type":"debug","z":"928e9f6b.0fc1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":180,"wires":[]},{"id":"d2e5da58.ba5988","type":"status","z":"928e9f6b.0fc1c","name":"","scope":null,"x":220,"y":180,"wires":[["d43cb094.2dc51"]]}]